@import "Styling/presets";

.root {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: $site-header-mobile;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    border-top: 2px solid $main-colour-dark;

    @include from($M) {
        display: none;
    }
}

.drawer {
    background-color: $site-background-colour;
}

.overlay {
    content: "";
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.6;
    flex-grow: 1;
}
