@import "../../styling/presets";

.root {
    @include text-hover-shadow($site-header-desktop);
    @include font-size(24px);

    color: $main-colour;
    text-align: center;
    margin: 0 20px;
}

.active {
    text-decoration: underline;
}
