// Colour Palette
$_black: #000;
$_white: #fff;
$_grey1: #eee;
$_grey2: #575757;
$_purple1: #800080;
$_purple2: #320b5e;

// Design Colours
$site-background-colour: $_grey1;
$main-colour: $_purple1;
$main-colour-dark: $_purple2;
$text-colour: $_black;
$footer-colour: $_grey2;
$footer-text-colour: $_white;
