.root {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 72px;
    width: 100%;
    background-color: #ddd;
    padding: 0 24px;
    line-height: 72px;
}

.root::after {
    position: fixed;
    top: 0;
    left: 0;
    height: 72px;
    width: 100%;
    padding: 0 24px;
    opacity: 0;
    content: "";
    box-shadow: 5px 15px 50px rgba(55,55,55,.2);
    transition: opacity 0.2s ease-in-out;
}

.rootWithShadow {
    composes: root;
}

.root.rootWithShadow::after {
    opacity: 1;
}
