@import "Styling/presets";

$hamburger-width: 40px;

@mixin header-settings {
    position: fixed;
    top: 0;
    left: 0;
    height: $site-header-mobile;
    width: 100%;

    @include from($M) {
        height: $site-header-desktop;
    }
}

.root {
    @include header-settings;

    display: flex;
    justify-content: space-between;
    background-color: $site-background-colour;

    @include from($M) {
        justify-content: flex-start;
    }

    &::before {
        content: "";
        width: $hamburger-width;

        @include from($M) {
            content: none;
        }
    }

    &::after {
        @include header-settings;

        z-index: -1; // Allow clicking of links in header
        opacity: 0;
        content: "";
        box-shadow: 5px 15px 50px rgba(55, 55, 55, 0.2);
        transition: opacity 0.2s ease-in-out;
    }

    &.withShadow::after {
        opacity: 1;
    }
}

.titleWrapper {
    @include from($M) {
        margin-left: $site-padding-desktop;
    }
}
