.root {
    font-family: "Courier New", Courier, monospace;
    font-size: 30pt;
    text-align: center;
    background: none;
}

.title {
    line-height: 72px;
}

.title:hover {
    line-height: 68px;
    text-shadow: 0 4px 2px rgba(55, 55, 55, 0.2);
}

.firstName {
    color: black;
}

.title:hover > .firstName {
    color: purple;
}

.surname {
    color: purple;
}

.title:hover > .surname {
    color: black;
}
