@import "Styling/presets";

.root {
    @include font-size(25px);

    font-family: $site-title-font;
    text-align: center;

    @include from($XS) {
        @include font-size(40px);
    }
}

.title {
    @include text-hover-shadow($site-header-mobile);

    @include from($M) {
        @include text-hover-shadow($site-header-desktop);
    }
}

.firstName {
    color: $text-colour;
}

.title:hover > .firstName {
    color: $main-colour;
}

.surname {
    color: $main-colour;
}

.title:hover > .surname {
    color: $text-colour;
}
