@import "Styling/presets";

.root {
    margin-top: 16px;
    height: $site-footer-mobile;
    background-color: $footer-colour;
    color: $footer-text-colour;
    border-top: 5px solid $main-colour;
    box-shadow: 0 -15px 50px rgba(55, 55, 55, 0.4);

    @include from($M) {
        height: $site-footer-desktop;
    }
}

.mainFooter {
    // background-color: #ddd;

    @include from($M) {
        padding: 8px $site-padding-desktop;
    }
}

.subFooter {

    @include from($M) {
        padding: 0 $site-padding-desktop;
    }
}
