@import "Styling/presets";

.root {
    margin-top: 16px;
    height: $site-footer-mobile;
    background-color: $main-colour-dark;
    color: $footer-text-colour;
    border-top: 5px solid $main-colour;

    @include from($M) {
        height: $site-footer-desktop;
    }
}

.mainFooter {
    background-color: #444;

    @include from($M) {
        padding: 8px $site-padding-desktop;
    }
}

.subFooter {
    background-color: $main-colour-dark;

    @include from($M) {
        padding: 0 $site-padding-desktop;
    }
}
